https://www.kaggle.com/kondla/carinsurance/downloads/carInsurance_test.csv/1  
    
https://storage.googleapis.com/kaggle-datasets/1411/2534/DSS_DMC_Description.pdf

In [8]:
import pandas as pd

In [ ]:
df_call_center_train = pd.read_csv("https://raw.githubusercontent.com/wiflorez/Blog-stories/master/data/carInsurance_train.csv")
df_call_center_test = pd.read_csv("https://raw.githubusercontent.com/wiflorez/Blog-stories/master/data/carInsurance_test.csv")

In [19]:
df_call_center_train.head()

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance
0,1,32,management,single,tertiary,0,1218,1,0,telephone,28,jan,2,-1,0,NaN,13:45:20,13:46:30,0
1,2,32,blue-collar,married,primary,0,1156,1,0,NaN,26,may,5,-1,0,NaN,14:49:03,14:52:08,0
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,16:30:24,16:36:04,1
3,4,25,student,single,primary,0,373,1,0,cellular,11,may,2,-1,0,NaN,12:06:43,12:20:22,1
4,5,30,management,married,tertiary,0,2694,0,0,cellular,3,jun,1,-1,0,NaN,14:35:44,14:38:56,0

In [20]:
df_call_center_train.describe()

,Id,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,CarInsurance
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,2000.500000,41.214750,0.014500,1532.937250,0.49275,0.133000,15.721250,2.607250,48.706500,0.717500,0.401000
std,1154.844867,11.550194,0.119555,3511.452489,0.50001,0.339617,8.425307,3.064204,106.685385,2.078647,0.490162
min,1.000000,18.000000,0.000000,-3058.000000,0.00000,0.000000,1.000000,1.000000,-1.000000,0.000000,0.000000
25%,1000.750000,32.000000,0.000000,111.000000,0.00000,0.000000,8.000000,1.000000,-1.000000,0.000000,0.000000
50%,2000.500000,39.000000,0.000000,551.500000,0.00000,0.000000,16.000000,2.000000,-1.000000,0.000000,0.000000
75%,3000.250000,49.000000,0.000000,1619.000000,1.00000,0.000000,22.000000,3.000000,-1.000000,0.000000,1.000000
max,4000.000000,95.000000,1.000000,98417.000000,1.00000,1.000000,31.000000,43.000000,854.000000,58.000000,1.000000

In [4]:
"""import pycodestyle
style_checker = pycodestyle.StyleGuide()
result = style_checker.check_files(["nay_pep8.py", "yay_pep8.py"])

# Print result of PEP 8 style check
print(result.messages)
"""

'import pycodestyle\nstyle_checker = pycodestyle.StyleGuide()\nresult = style_checker.check_files(["nay_pep8.py", "yay_pep8.py"])\n\n# Print result of PEP 8 style check\nprint(result.messages)\n'

In [27]:
import sys
sys.version

'2.7.16 |Anaconda, Inc.| (default, Mar 14 2019, 16:24:02) \n[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]'

Business Understanding  
Data Understanding  
Prepare Data  
Model Data  
Results  
Deploy  

https://docs.microsoft.com/es-es/azure/machine-learning/team-data-science-process/overview

https://cloud.google.com/ml-engine/docs/tensorflow/ml-solutions-overview

https://docs.microsoft.com/en-gb/azure/machine-learning/team-data-science-process/lifecycle#next-steps

**Data Analysis Process**  

**Extract** - Obtain the data from a spreadsheet, SQL, the web, etc.  
**Clean** - Here we could use exploratory visuals.  
**Explore** - Here we use exploratory visuals.  
**Analyze** - Here we might use either exploratory or explanatory visuals.

**Visualization**  
Identifyint data types  
Data Ink Ratio    
Color  
Shape, size .

**Univariate**  
Tidy Data  
Bar Charts  
Absolute vs Relative Frequency  
Counting Missing Data  
Pie Charts 
Histograms 
Subplots 
Descriptive Stats, Outliers  
Scales and Tranformations  
Kernel Density Estimation  
Waffle Plots

**Bivariate**  
Scatterplots and Correlations  
Overplotting, Transparency and Jitter  
Heat Maps  
Violing Plots  
Box Plots  
Clustered Bar  
Categorical Plot  
Faceting  
Adaptation of Univariate  
Line Plots  
Q-Q Plots  
Swarm plots  
Rug and Strip Plots  
Stacked Plots  
Ridgeline Plots

**Mutivariate**  
Non-Positional Encodings shape, size, color  
Color Palettes  
Faceing in two Directions   
Plot Matrices correlation   
Feactures Engineering